code, pre {
	tab-size: 4;
}

.pp {
	color: #ff64bd;
}

.definition {
	color: #13dbee;
}

.comment {
	color: #999999;
}

.type {
	color: #ffa120;
}

.abstraction {
	color: #6b82ff;
}

.application {
	color: #ff8750;
}

.index {
	color: #ff5050;
}

.number, .float, .complex {
	color: #b1ee13;
}

.string, .char {
	color: #bb73f0;
}

.code-highlight {
  filter: saturate(5) brightness(3);
  -webkit-text-stroke-width: 0.1ex;
}

.code-clickable {
  cursor: pointer;
}
