<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="content.css" type="text/css" media="all">
		<link rel="stylesheet" href="code.css" type="text/css" media="all">
		<title>bruijn std/NAME</title>
	</head>
	<body>
		<h1>NAME</h1> INFO
<pre>
<code class="language-bruijn">
CONTENT
</code>
</pre>

	<script src="code.js" charset="utf-8"></script>
	</body>
</html>
