@font-face {
	font-family: "Iosevka";
	src: url("iosevka.woff2") format("woff2");
}

body {
	font-family: "Iosevka", monospace;
	background-color: #222222;
	color: #cccccc;
	font-size: 1.2em;
}

a {
	color: #cccccc;
}

.com {
	color: #ff64bd;
}
