<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="index.css" type="text/css" media="all">
		<title>bruijn standard library</title>
	</head>
	<body>
		<h1>bruijn standard library</h1>
This is the browsable standard library of the bruijn programming language. Follow any of the links below to see the source of the corresponding module.
		<ol>
			LINKS
		</ol>
		<hr>
		<h2>STATS</h2>
	</body>
</html>
