@font-face {
	font-family: "Iosevka";
	src: url("res/iosevka.woff2") format("woff2");
}

body {
	font-family: "Iosevka", monospace;
	background-color: #222222;
	color: #cccccc;
	font-size: 1.3em;
	padding: 0;
	margin: 0;
}

a {
	color: #cccccc;
}

.header {
	display: flex;	
	align-items: center;
	flex-direction: column;
}

.header img {
	width: auto;
	max-height: 20vh;
}

.header h1 {
	margin-top: -0.5em;
	font-size: 3em;
}

.example {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 50%;
}

.example > * {
	display: flex;
	flex-basis: 50%;
	justify-content: center;
}

.example .code {
	width: fit-content;
}

.example p {
	font-size: 1.2em;
	max-width: 80%;
	text-align: center;
}

.instructions {
	max-width: 70%;
	margin: 0 auto;
}

@media(max-width: 768px) {
	body {
		font-size: 1.1em;
	}
}

/* mobile */
@media(max-width: 768px) {
	.example > * {
		flex-basis: 100%;
	}

	.example * {
		max-width: 90% !important;
	}

	.example {
		font-size: 1.3em;
		width: 100%
	}

	.instructions {
		max-width: 90%;
		font-size: 1.1em;
	}

	.instructions a {
		line-height: 1.5em;
	}

	.example :nth-child(8) { order: 7; }
	.example :nth-child(7) { order: 8; }
	.example :nth-child(6) { order: 6; }
	.example :nth-child(5) { order: 5; }
	.example :nth-child(4) { order: 3; }
	.example :nth-child(3) { order: 4; }
	.example :nth-child(2) { order: 2; }
	.example :nth-child(1) { order: 1; }
}

/* small desktop / tablet */
@media(max-width: 1700px) {
	.example {
		width: 80%;
	}

	.example .code {
		font-size: 1em;
	}
}

@media(max-width: 1000px) {
	.example {
		width: 100%;
	}
}

.bar {
	text-align: center;
	background-color: #333333;
	margin: 30px 0;
}

.bar.small {
	font-size: 1.2em;
	line-height: 1.2em;
	padding: 15px;
}

.bar.big {
	font-size: 2em;
	line-height: 5em;
	padding: 20px;
}

.bar a {
	color: #cccccc;
}

.popup {
	position: absolute;
	display: block;
	border-sizing: border-box;
	box-shadow: 0 10px 50px rgba(0,0,0,.6);
	background-color: #333333;
	border-radius: 10px;
	padding: 15px;
	max-width: 300px;
}

.code {
	background-color: #333333;
	padding: 15px;
	font-size: 1.2em;
	border-radius: 10px;
	overflow: auto;
}

.code .repl {
	color: #13dbee;
}

.code .def {
	color: #13dbee;
}

.code .left-abs, .code .right-abs {
	color: #6b82ff;
}

.code .left-app, .code .right-app {
	color: #ff8750;
}

.code .com {
	color: #ff64bd;
}

.code .ternary, .code .binary, .code .unary {
	color: #b1ee13;
}

.code .char, .code .string {
	color: #b1ee13;
}

.code .mixfix, .code .prefix {
	color: #eee513;
}

.code .symbol {
	color: #f9f9f9;
}

.code .index {
	color: #ff5050;
}

.code .meta {
	color: #ff94ff;
}
